<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main/styles.css">
    <link rel="stylesheet" href="/css/common/left-dashboard-nav.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/employee/attendance/styles.css">
    <title>Employee Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.7/purify.min.js" integrity="sha512-BdRNuI8/lsyxkKQVxK1lVtfZshggfXPAwEP+JAOJEKx6Y8SLfcBSRdaWyXQmMxo+wG180uFqXYGjGRL0mh4/Jw==" crossorigin="anonymous" referrerpolicy="no-referrer" nonce="<%= nonce %>"></script>
  </head>
  <body>
    <%- include("../includes/header", {baseUrl, loggedUser, accountType}) %>
    <main>
      <%- include("../includes/left-dashboard-nav.ejs", {baseUrl, accountType, jrequestsPending}) %>
      <section class="content">
        <% if (!loggedUser.employee_id) {%>
        <div id="messageContainer">
          <div class="no-company-message">
            <p>You are not entitled to any company: <a href="<%= baseUrl %>/employee/join-request">Send join request</a>.</p>
          </div>
        </div>
        <% } else {%>
        <section class="attendance-section">

          <% if (errorInfo) { %>
            <div class="error-message">
              <p><%= errorInfo %></p>
            </div>
          <% } %>

          <div class="progress-container">
            <label for="progress-bar">Selected Days: <span id="selected-days"><%= attendanceData?.days_total %></span> / <span id="max-days"><%= attendanceData?.max_days_per_month %></span></label>
            <div class="progress-bar-wrapper">
              <div id="progress-bar" class="progress-bar"></div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <form action="/employee/attendance" method="POST" id="attendance-form">
            <input type="hidden" name="csrf_token" value="<%=csrfToken%>">
            <div class="attendance-options <%= errorInfo ? 'disabled' : '' %>">
              <div class="attendance-option" data-type="normal" data-value="normal">
                <h3>Normal Attendance</h3>
                <p>100.00%</p>
                <p><%= attendanceData?.days_worked %> marked already</p>
              </div>
              <div class="attendance-option" data-type="sick-leave" data-value="sick">
                <h3>Sick Leave</h3>
                <p><%=attendanceData?.sick_leave_percent_factor%>%</p>
                <p><%= attendanceData?.days_sick_leave %> marked already</p>
              </div>
              <div class="attendance-option" data-type="on-demand" data-value="ondemand">
                <h3>On Demand</h3>
                <p><%= attendanceData?.on_demand_percent_factor %>%</p>
                <p><%= attendanceData?.days_on_demand_leave %> marked already</p>
              </div>
              <div class="attendance-option" data-type="vacation" data-value="vacation">
                <h3>Vacation Leave</h3>
                <p><%= attendanceData?.vacation_percent_factor %>%</p>
                <p><%=attendanceData?.days_vacation %> marked already</p>
              </div>
            </div>
            
            <input type="hidden" id="attendance-type" name="attendance_type" value="">
            <button type="submit" class="submit-btn" <%= errorInfo ? 'disabled' : '' %>>Submit Attendance</button>
          </form>
        </section>
        <% } %>
      </section>
    </main>
    <footer>
      <p>© 2024 PayrollPro. All rights reserved.</p>
    </footer>
  </body>

  <script nonce="<%= nonce %>">
    document.addEventListener("DOMContentLoaded", () => {
      const form = document.getElementById("attendance-form");
  
      form.addEventListener("submit", (event) => {
        const inputs = form.querySelectorAll("input[type='text'], input[type='hidden']");
        inputs.forEach((input) => {
          input.value = DOMPurify.sanitize(input.value);
        });
      });
    });
  </script>

  <%- include("../includes/manager_left_dashboard_listener") %>
  <script nonce="<%= nonce %>">
    let selectedDays = JSON.stringify(<%= attendanceData?.days_total %>);
    const maxDays = JSON.stringify(<%= attendanceData?.max_days_per_month %>);

    const progressBar = document.getElementById('progress-bar');
    progressBar.style.width = `${(selectedDays / maxDays) * 100}%`;

    if (!<%= errorInfo ? 'true' : 'false' %>) {
      document.querySelectorAll('.attendance-option').forEach(option => {
        option.addEventListener('click', function () {
          document.querySelectorAll('.attendance-option').forEach(opt => opt.classList.remove('selected'));
          this.classList.add('selected');
          
          document.getElementById('attendance-type').value = this.getAttribute('data-value');
        });
      });
    }
  </script>
</html>
