<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/common/left-dashboard-nav.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/employee/join_request/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.7/purify.min.js" integrity="sha512-BdRNuI8/lsyxkKQVxK1lVtfZshggfXPAwEP+JAOJEKx6Y8SLfcBSRdaWyXQmMxo+wG180uFqXYGjGRL0mh4/Jw==" crossorigin="anonymous" referrerpolicy="no-referrer" nonce="<%= nonce %>"></script>
    <title>Employee Dashboard</title>
  </head>
  <body>
    <%- include("../includes/header", {baseUrl, loggedUser, accountType}) %>
    <main>
      <%- include("../includes/left-dashboard-nav.ejs", {baseUrl, accountType,
      jrequestsPending}) %>
      <section class="content">
        <% if (!isUserEntitled) {%>
        <div class="container">
          <form
            class="form-box"
            id="joinRequestForm"
            method="post"
            action="/employee/join-request"
          >
            <input type="hidden" name="csrf_token" value="<%=csrfToken%>" />
            <h2>Join to company</h2>
            <input
              name="company_name"
              type="text"
              id="companyInput"
              placeholder="Type in company name..."
              required
            />
            <ul id="suggestions" class="suggestions"></ul>
            <button type="submit">Join</button>
          </form>
        </div>
        <%} else {%> <% if (isJrequestPending) {%>
        <div class="container">
          <div class="form-box">
            <h2>Join request</h2>
            <p>Your request is pending</p>
            <p>Wait for the company to accept it</p>
          </div>
        </div>
        <% } else {%>
        <div class="container">
          <div class="form-box">
            <h2>Join request</h2>
            <p>You are already entitled to the company</p>
            <p>We are assuming that you do not want to leave it :D</p>
          </div>
        </div>
        <% } %> <% } %>
      </section>
    </main>
    <footer>
      <p>© 2024 PayrollPro. All rights reserved.</p>
    </footer>
  </body>

  <script nonce="<%= nonce %>">

    const companies = <%- JSON.stringify(companiesNames) %>;


    document.getElementById('companyInput').addEventListener('input', showSuggestions);

    function showSuggestions() {
      const input = document.getElementById('companyInput').value.toLowerCase();
      const suggestionsList = document.getElementById('suggestions');
      suggestionsList.innerHTML = '';

      if (input.length === 0) {
        suggestionsList.style.display = 'none';
        return;
      }

      const filteredCompanies = companies.filter(company =>
        company.toLowerCase().startsWith(input)
      ).slice(0, 5);

      if (filteredCompanies.length > 0) {
        suggestionsList.style.display = 'block';
      } else {
        suggestionsList.style.display = 'none';
      }

      filteredCompanies.forEach(company => {
        const li = document.createElement('li');
        li.textContent = company;
        li.onclick = function() {
          document.getElementById('companyInput').value = company;
          suggestionsList.innerHTML = '';
          suggestionsList.style.display = 'none';
        };
        suggestionsList.appendChild(li);
      });
    }
  </script>
</html>
