<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/common/left-dashboard-nav.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/employee/dashboard/styles.css">
    <title>Employee Dashboard</title>
  </head>
  <body>
    <%- include("../includes/header", {baseUrl, loggedUser, accountType}) %>
    <main>
      <%- include("../includes/left-dashboard-nav.ejs", {baseUrl, accountType, jrequestsPending}) %>
      <section class="content">
        <% if (company) {%>
        <section class="info">
          <div>
            <div class="box big">
              <h2>Personal info</h2>
              <p>Name: <%= loggedUser.name %> <%= loggedUser.last_name %></p>
              <p>Email: <%= loggedUser.email %></p>
              <p>Company name: <%= company.name %></p>
            </div>
            <div class="box big chart">
              <canvas id="earnings-chart"></canvas>
            </div>
          </div>
          <div>
            <div class="box small">
              <h2>Leave balances</h2>
              <p>On demand leave: <%= salaryHistory.days_on_demand_leave %> days</p>
              <p>Sick leave: <%= salaryHistory.days_sick_leave %> days</p>
              <p>Vacation leave: <%= salaryHistory.days_vacation %> days</p>
            </div>
          </div>
        </section>
        <section class="attend-notify">
          <% if(!isAttendanceMarked) {%>
          <p>You have an unmarked attendance for today!</p>
          <a class="mark-button" href="<%=baseUrl%>/employee/attendance">
            <img src="/images/calendar.png" alt="calendar" id="calendar-icon-2"/>
            <span class="mark">Mark it here!</span>
          </a>
          <%}%>
        </section>
        <%} else {%>
          <% if (isJrequestPending) {%>
          <div class="message-box">
            <h2>Join request</h2>
            <p>Your join request is pending. Please wait for the manager to accept it.</p>
          <% } else {%>
            <div class="message-box">
              <h1>Hello, <%=loggedUser.name%> !</h1>
              <p>You are not entitled to any company yet! Click below to get entitled:</p>
              <a href="/employee/join-request">Enitle to company</a>
            </div>
            <%} %>
          <% } %>
      </section>
    </main>
    <footer>
      <p>© 2024 PayrollPro. All rights reserved.</p>
    </footer>
  </body>

  <%- include("../includes/manager_left_dashboard_listener") %>

  <script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="<%= nonce %>"></script>
  <script nonce="<%= nonce %>">
    const ctx = document.getElementById("earnings-chart").getContext("2d");

    const earningsData = <%- JSON.stringify(earnings) %>;

    const labels = earningsData.map(e => e.month_name.trim());
    const data = earningsData.map(e => parseFloat(e.total_salary));

    const earningsChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: labels,
        datasets: [
          {
            label: "Your Earnings",
            data: data,
            backgroundColor: "#F1DBDB",
            borderColor: "rgba(75, 192, 192, 1)",
            color: "#fff",
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              color: "#fff",
            },
          },
          x: {
            ticks: {
              color: "#fff",
            },
          },
        },
        plugins: {
          legend: {
            labels: {
              color: "#FFFFFF",
            },
          },
        },
      },
    });
  </script>
</html>
