<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/settings/styles.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/common/left-dashboard-nav.css" />
    <title>Ustawienia konta</title>
    <style>
      .content {
        margin-bottom: 240px;
      }
      .user-details-section {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        position: relative;
      }

      .user-details-section h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .user-details-section p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.6;
      }

      .user-details-section .label {
        font-weight: bold;
      }

      .edit-button,
      .save-button,
      .cancel-button {
        background-color: #008cba;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 20px;
      }

      .leave-button {
        background-color: #f44336; /* Kolor czerwony jak przycisk "Cancel" */
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 140px; /* Ustaw pozycję na lewo od przycisku "Edit" */
      }

      .leave-button:hover {
        background-color: #d32f2f;
      }

      .edit-button {
        right: 20px;
      }

      .save-button,
      .cancel-button {
        display: none;
        margin-top: 20px;
      }

      .save-button {
        background-color: #4caf50;
        right: 140px; /* Added margin so the save button doesn't overlap with cancel */
      }

      .cancel-button {
        background-color: #f44336;
        right: 20px; /* Positioned next to the save button */
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="date"],
      input[type="number"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <%- include("../includes/header", { baseUrl, loggedUser, accountType }) %>
    <main>
      <%- include("../includes/left-dashboard-nav") %>
      <section class="content">
        <div id="notification-bar" class="notification hidden"></div>
        <h2>Security settings</h2>
        <div class="setting-option">
          <p>Two-factor Authentication (2FA)-</p>
          <label class="switch">
            <input type="checkbox" id="2fa-toggle" <%= is2faEnabled ? 'checked'
            : '' %> />
            <span class="slider round"></span>
          </label>
        </div>
        <!-- Modal ładowania -->
        <div id="loading-modal" class="modal">
          <div class="modal-content">
            <h2>Enabling two-factor authentication...</h2>
            <p>Please wait...</p>
            <!-- Animacja ładowania -->
            <div class="loader"></div>
          </div>
        </div>

        <!-- Modal QR Code -->
        <div id="qr-modal" class="modal hidden">
          <div class="modal-content">
            <h2>Configure two-factor authentication</h2>
            <p>Scan QR in authentication app.</p>
            <img id="qr-code" src="" alt="QR Code do konfiguracji 2FA" />
            <button id="close-qr-modal">Close</button>
          </div>
        </div>

        <section class="user-details-section">
          <% if (error) { %>
          <p style="color: #cb4b42">Unable to update provided personal data</p>
          <% } %>
          <h2>Your personal data</h2>

          <div id="display-mode">
            <p><span class="label">Name:</span> <%= user.name %></p>
            <p><span class="label">Last Name:</span> <%= user.last_name %></p>
            <p><span class="label">Email:</span> <%= user.email %></p>
            <p>
              <span class="label">Phone number:</span> <%= user.phone_number %>
            </p>
            <p>
              <span class="label">Home address:</span> <%= user.home_address %>
            </p>
            <p>
              <span class="label">Date of birth:</span> <%= user.date_of_birth
              %>
            </p>
          </div>

          <!-- Edit Mode -->
          <form
            id="edit-mode"
            style="display: none"
            method="post"
            action="<%= baseUrl %>/user/update-personal-data"
          >
            <label for="name">Name:</label>
            <input
              name="name"
              type="text"
              id="first-name"
              value="<%= user.name %>"
            />

            <label for="last_name">Last name:</label>
            <input
              name="last_name"
              type="text"
              id="last-name"
              value="<%= user.last_name %>"
            />

            <label for="email">Email:</label>
            <input
              name="email"
              type="email"
              id="email"
              value="<%= user.email %>"
            />

            <label for="phone_number">Phone number:</label>
            <input
              name="phone_number"
              type="tel"
              id="phone"
              value="<%= user.phone_number %>"
            />

            <label for="home_address">Home address:</label>
            <input
              name="home_address"
              type="text"
              id="address"
              value="<%= user.home_address %>"
            />

            <label for="date_of_birth">Date of birth:</label>
            <input
              name="date_of_birth"
              type="date"
              id="dob"
              value="<%= user.date_of_birth %>"
            />
            <button type="submit" class="save-button" id="save-button">
              Save
            </button>
          </form>

          <!-- Buttons -->
          <% if (loggedUser.employee_id) { %>
          <button class="leave-button" id="leave-button">Leave Company</button>
          <% } %>
          <button class="edit-button" id="edit-button">Edit</button>
          <button class="cancel-button" id="cancel-button">Cancel</button>
        </section>

        <!-- Możesz dodać więcej opcji ustawień -->
      </section>
    </main>
    <footer>
      <p>© 2024 PayrollPro. All rights reserved.</p>
    </footer>
  </body>

  <%- include("../includes/manager_left_dashboard_listener") %>

  <script nonce="<%= nonce %>">
    <% if (loggedUser.employee_id) { %>
    document
      .getElementById("leave-button")
      .addEventListener("click", function () {
        const confirmLeave = confirm(
          "Are you sure you want to leave the company?"
        );
        if (confirmLeave) {
          // Tu możesz dodać logikę np. do wysłania żądania do serwera
          fetch("<%= baseUrl %>/api/employee/delete", {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
            credentials: "include",
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              if (data.success) {
                showNotification("You have left the company.", true);
                setTimeout(() => {
                  window.location.href = "<%= baseUrl %>/employee/dashboard";
                }, 3000);
              } else {
                showNotification(
                  "Error leaving company: " + data.message,
                  false
                );
              }
            })
            .catch((error) => {
              console.log(error);
              showNotification(
                "Internal server error. Please try again later.",
                false
              );
            });
        }
      });
      <% } %>

    const editButton = document.getElementById("edit-button");
    const saveButton = document.getElementById("save-button");
    const cancelButton = document.getElementById("cancel-button");

    const displayMode = document.getElementById("display-mode");
    const editMode = document.getElementById("edit-mode");

    // Function to switch to edit mode
    editButton.addEventListener("click", () => {
      <% if (loggedUser.employee_id) { %>
      const leaveButton = document.getElementById("leave-button");
      leaveButton.style.display = "none";
      <% } %>
      displayMode.style.display = "none";
      editMode.style.display = "block";

      editButton.style.display = "none";
      saveButton.style.display = "inline-block";
      cancelButton.style.display = "inline-block";
    });

    // Function to cancel edit mode
    cancelButton.addEventListener("click", () => {
      <% if (loggedUser.employee_id) { %>
      const leaveButton = document.getElementById("leave-button");
      leaveButton.style.display = "inline-block";
      <% } %>
      displayMode.style.display = "block";
      editMode.style.display = "none";

      editButton.style.display = "inline-block";
      saveButton.style.display = "none";
      cancelButton.style.display = "none";
    });

    // const editButtonCompany = document.getElementById("edit-button-company");
    // const saveButtonCompany = document.getElementById("save-button-company");
    // const cancelButtonCompany = document.getElementById(
    //   "cancel-button-company"
    // );

    // const displayModeCompany = document.getElementById("display-mode-company");
    // const editModeCompany = document.getElementById("edit-mode-company");

    // // Function to switch to edit mode
    // editButtonCompany.addEventListener("click", () => {
    //   displayModeCompany.style.display = "none";
    //   editModeCompany.style.display = "block";

    //   editButtonCompany.style.display = "none";
    //   saveButtonCompany.style.display = "inline-block";
    //   cancelButtonCompany.style.display = "inline-block";
    // });

    // // Function to cancel edit mode
    // cancelButtonCompany.addEventListener("click", () => {
    //   displayModeCompany.style.display = "block";
    //   editModeCompany.style.display = "none";

    //   editButtonCompany.style.display = "inline-block";
    //   saveButtonCompany.style.display = "none";
    //   cancelButtonCompany.style.display = "none";
    // });

    function showNotification(message, isSuccess) {
      const notificationBar = document.getElementById("notification-bar");
      notificationBar.textContent = message;
      notificationBar.className = `notification ${
        isSuccess ? "success" : "error"
      }`;
      notificationBar.classList.remove("hidden");

      // Automatycznie ukryj pasek po 3 sekundach
      setTimeout(() => {
        notificationBar.classList.add("hidden");
      }, 3000);
    }

    function init2FA() {
      // Pokaż modal ładowania
      document.getElementById("loading-modal").style.display = "block";

      // Zablokuj przełącznik
      document.getElementById("2fa-toggle").disabled = true;

      fetch("<% baseUrl %>/api/auth/enable-2fa", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          // Ukryj modal ładowania
          document.getElementById("loading-modal").style.display = "none";

          // Odblokuj przełącznik
          document.getElementById("2fa-toggle").disabled = false;

          if (data.success) {
            // document.getElementById("2fa-toggle").checked = false;
            document.getElementById("qr-code").src = data.qrCode;
            document.getElementById("qr-modal").style.display = "block";
            showNotification("2FA has been enabled.", true);
          } else {
            document.getElementById("2fa-toggle").checked = true;
            showNotification("Erro enabling 2fa: " + data.message, false);
          }
        })
        .catch((error) => {
          // Ukryj modal ładowania
          document.getElementById("loading-modal").style.display = "none";

          // Odblokuj przełącznik
          document.getElementById("2fa-toggle").disabled = false;

          // Przywróć stan slidera
          document.getElementById("2fa-toggle").checked = false;
          showNotification(
            "Internal server error. Please try again later.",
            false
          );
        });
    }

    function disable2FA() {
      const confirmDisable = confirm("Are you sure you want to disable 2FA?");
      if (!confirmDisable) {
        document.getElementById("2fa-toggle").checked = true;
        return;
      }

      document.getElementById("loading-modal").classList.remove("hidden");
      document.getElementById("2fa-toggle").disabled = true;

      fetch("<% baseUrl %>/api/auth/disable-2fa", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("loading-modal").style.display.none;
          document.getElementById("2fa-toggle").disabled = false;

          if (data.success) {
            document.getElementById("2fa-toggle").checked = false;
            showNotification("2FA has been disabled.", true);
          } else {
            document.getElementById("2fa-toggle").checked = true;
            showNotification("Error disabling 2fa. " + data.message, false);
          }
        })
        .catch((error) => {
          console.log(error);
          document.getElementById("loading-modal").style.display.none;
          document.getElementById("2fa-toggle").disabled = false;
          showNotification(
            "Internal server error. Please try again later.",
            false
          );
        });
    }

    document
      .getElementById("close-qr-modal")
      .addEventListener("click", function () {
        document.getElementById("qr-modal").style.display = "none";
      });

    document
      .getElementById("2fa-toggle")
      .addEventListener("change", function () {
        if (this.checked) {
          init2FA();
        } else {
          disable2FA();
        }
      });
  </script>
</html>
