<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/settings/styles.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/common/left-dashboard-nav.css" />
    <link rel="stylesheet" href="/css/employee/settings/styles.css">
    <title>Ustawienia konta</title>
  </head>
  <body>
    <%- include("../includes/header", { baseUrl, loggedUser, accountType }) %>
    <main>
      <%- include("../includes/left-dashboard-nav") %>
      <section class="content">
        <div id="notification-bar" class="notification hidden"></div>
        <h2>Security settings</h2>
        <div class="setting-option">
          <p>Two-factor Authentication (2FA)-</p>
          <label class="switch">
            <input type="checkbox" id="2fa-toggle" <%= is2faEnabled ? 'checked'
            : '' %> />
            <span class="slider round"></span>
          </label>
        </div>

        <div id="loading-modal" class="modal">
          <div class="modal-content">
            <h2>Enabling two-factor authentication...</h2>
            <p>Please wait...</p>
            <div class="loader"></div>
          </div>
        </div>

        <div id="qr-modal" class="modal hidden">
          <div class="modal-content">
            <h2>Configure two-factor authentication</h2>
            <p>Scan QR in authentication app.</p>
            <img id="qr-code" src="" alt="QR Code do konfiguracji 2FA" />
            <button id="close-qr-modal">Close</button>
          </div>
        </div>

        <section class="user-details-section">
          <% if (error) { %>
          <p class="red">Unable to update provided personal data</p>
          <% } %>
          <h2>Your personal data</h2>

          <div id="display-mode">
            <p><span class="label">Name:</span> <%= user.name %></p>
            <p><span class="label">Last Name:</span> <%= user.last_name %></p>
            <p><span class="label">Email:</span> <%= user.email %></p>
            <p>
              <span class="label">Phone number:</span> <%= user.phone_number %>
            </p>
            <p>
              <span class="label">Home address:</span> <%= user.home_address %>
            </p>
            <p>
              <span class="label">Date of birth:</span> <%= user.date_of_birth
              %>
            </p>
          </div>
          <form
            id="edit-mode"
            class="no-display"
            method="post"
            action="<%= baseUrl %>/user/update-personal-data"
          >
            <input type="hidden" name="csrf_token" value="<%=csrfToken%>" />
            <label for="name">Name:</label>
            <input
              name="name"
              type="text"
              id="first-name"
              value="<%= user.name %>"
            />

            <label for="last_name">Last name:</label>
            <input
              name="last_name"
              type="text"
              id="last-name"
              value="<%= user.last_name %>"
            />

            <label for="email">Email:</label>
            <input
              name="email"
              type="email"
              id="email"
              value="<%= user.email %>"
            />

            <label for="phone_number">Phone number:</label>
            <input
              name="phone_number"
              type="tel"
              id="phone"
              value="<%= user.phone_number %>"
            />

            <label for="home_address">Home address:</label>
            <input
              name="home_address"
              type="text"
              id="address"
              value="<%= user.home_address %>"
            />

            <label for="date_of_birth">Date of birth:</label>
            <input
              name="date_of_birth"
              type="date"
              id="dob"
              value="<%= user.date_of_birth %>"
            />
            <button type="submit" class="save-button" id="save-button">
              Save
            </button>
          </form>

          <% if (loggedUser.employee_id) { %>
          <button class="leave-button" id="leave-button">Leave Company</button>
          <% } %>
          <button class="edit-button" id="edit-button">Edit</button>
          <button class="cancel-button" id="cancel-button">Cancel</button>
        </section>

      </section>
    </main>
    <footer>
      <p>© 2024 PayrollPro. All rights reserved.</p>
    </footer>
  </body>

  <%- include("../includes/manager_left_dashboard_listener") %>

  <script nonce="<%= nonce %>">
    document.getElementById("edit-mode").addEventListener("submit", function (event) {
      const inputs = this.querySelectorAll("input[type='text'], input[type='email'], input[type='tel'], input[type='date']");
  
      inputs.forEach((input) => {

        input.value = DOMPurify.sanitize(input.value);
      });
    });
  </script>

  <script nonce="<%= nonce %>">
    <% if (loggedUser.employee_id) { %>
    document
      .getElementById("leave-button")
      .addEventListener("click", function () {
        const confirmLeave = confirm(
          "Are you sure you want to leave the company?"
        );
        if (confirmLeave) {
          fetch("<%= baseUrl %>/api/employee/delete", {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
              "X-CSRF-Token": "<%= csrfToken %>",
            },
            credentials: "include",
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                showNotification("You have left the company.", true);
                setTimeout(() => {
                  window.location.href = "<%= baseUrl %>/employee/dashboard";
                }, 3000);
              } else {
                showNotification(
                  "Error leaving company: " + data.message,
                  false
                );
              }
            })
            .catch((error) => {
              showNotification(
                "Deleting failed...",
                false
              );
            });
        }
      });
      <% } %>

    const editButton = document.getElementById("edit-button");
    const saveButton = document.getElementById("save-button");
    const cancelButton = document.getElementById("cancel-button");

    const displayMode = document.getElementById("display-mode");
    const editMode = document.getElementById("edit-mode");


    editButton.addEventListener("click", () => {
      <% if (loggedUser.employee_id) { %>
      const leaveButton = document.getElementById("leave-button");
      leaveButton.style.display = "none";
      <% } %>
      displayMode.style.display = "none";
      editMode.style.display = "block";

      editButton.style.display = "none";
      saveButton.style.display = "inline-block";
      cancelButton.style.display = "inline-block";
    });

    cancelButton.addEventListener("click", () => {
      <% if (loggedUser.employee_id) { %>
      const leaveButton = document.getElementById("leave-button");
      leaveButton.style.display = "inline-block";
      <% } %>
      displayMode.style.display = "block";
      editMode.style.display = "none";

      editButton.style.display = "inline-block";
      saveButton.style.display = "none";
      cancelButton.style.display = "none";
    });

    function showNotification(message, isSuccess) {
      const notificationBar = document.getElementById("notification-bar");
      notificationBar.textContent = message;
      notificationBar.className = `notification ${
        isSuccess ? "success" : "error"
      }`;
      notificationBar.classList.remove("hidden");


      setTimeout(() => {
        notificationBar.classList.add("hidden");
      }, 3000);
    }

    function init2FA() {

      document.getElementById("loading-modal").style.display = "block";


      document.getElementById("2fa-toggle").disabled = true;

      fetch("<% baseUrl %>/api/auth/enable-2fa", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": "<%= csrfToken %>",
        },
        credentials: "include",
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("loading-modal").style.display = "none";

          document.getElementById("2fa-toggle").disabled = false;

          if (data.success) {
            document.getElementById("qr-code").src = data.qrCode;
            document.getElementById("qr-modal").style.display = "block";
            showNotification("2FA has been enabled.", true);
          } else {
            document.getElementById("2fa-toggle").checked = true;
            showNotification("Error enabling 2fa: ", false);
          }
        })
        .catch((error) => {
          document.getElementById("loading-modal").style.display = "none";

          document.getElementById("2fa-toggle").disabled = false;

          document.getElementById("2fa-toggle").checked = false;
          showNotification(
            "Error enabling 2fa.",
            false
          );
        });
    }

    function disable2FA() {
      const confirmDisable = confirm("Are you sure you want to disable 2FA?");
      if (!confirmDisable) {
        document.getElementById("2fa-toggle").checked = true;
        return;
      }

      document.getElementById("loading-modal").classList.remove("hidden");
      document.getElementById("2fa-toggle").disabled = true;

      fetch("<% baseUrl %>/api/auth/disable-2fa", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": "<%= csrfToken %>",
        },
        credentials: "include",
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("loading-modal").style.display.none;
          document.getElementById("2fa-toggle").disabled = false;

          if (data.success) {
            document.getElementById("2fa-toggle").checked = false;
            showNotification("2FA has been disabled.", true);
          } else {
            document.getElementById("2fa-toggle").checked = true;
            showNotification("Error disabling 2fa. ", false);
          }
        })
        .catch((error) => {
          document.getElementById("loading-modal").style.display.none;
          document.getElementById("2fa-toggle").disabled = false;
          showNotification(
            "Error disabling 2fa.",
            false
          );
        });
    }

    document
      .getElementById("close-qr-modal")
      .addEventListener("click", function () {
        document.getElementById("qr-modal").style.display = "none";
      });

    document
      .getElementById("2fa-toggle")
      .addEventListener("change", function () {
        if (this.checked) {
          init2FA();
        } else {
          disable2FA();
        }
      });
  </script>
</html>
