<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/common/settings/styles.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/common/left-dashboard-nav.css" />
    <link rel="stylesheet" href="/css/manager/join_requests/styles.css">
    <title>Employee Details</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.7/purify.min.js" integrity="sha512-BdRNuI8/lsyxkKQVxK1lVtfZshggfXPAwEP+JAOJEKx6Y8SLfcBSRdaWyXQmMxo+wG180uFqXYGjGRL0mh4/Jw==" crossorigin="anonymous" referrerpolicy="no-referrer" nonce="<%= nonce %>"></script>
  </head>
  <body>
    <%- include("../includes/header", {baseUrl, loggedUser, accountType}) %>
    <main>
      <%- include("../includes/left-dashboard-nav", {baseUrl, accountType,
      jrequestsPending}) %>
      <section class="content">
        <div id="messageContainer"></div>
        <h2>Employee Join Requests</h2>
        <table class="join-requests-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Date of Birth</th>
              <th>Email</th>
              <th>Home Address</th>
              <th>Accept</th>
              <th>Reject</th>
            </tr>
          </thead>
          <tbody>
            <% joinRequests.forEach(function(request, index) { %>
            <tr>
              <td><%= request.name %> <%= request.last_name %></td>
              <td><%= request.phone_number %></td>
              <td>
                <%= new Date(request.date_of_birth).toLocaleDateString() %>
              </td>
              <td><%= request.email %></td>
              <td><%= request.home_address %></td>
              <td>
                <button
                  class="btn-accept"
                  data-email="<%= request.email %>"
                  data-id="<%= request.id %>"
                >
                  Accept
                </button>
              </td>
              <td>
                <button class="btn-reject" data-email="<%= request.email %>">
                  Reject
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </main>
    <footer>
      <p>© 2024 PayrollPro. All rights reserved.</p>
    </footer>

    <%- include("../includes/manager_left_dashboard_listener", {nonce}) %>

    <script nonce="<%= nonce %>">
      document.addEventListener("DOMContentLoaded", function () {

        const company_id = '<%= loggedUser.company_id %>';

        if (company_id.length === 0) {
          displayNoCompanyMessage();
          return;
        }
      
        const acceptButtons = document.querySelectorAll(".btn-accept");
        const rejectButtons = document.querySelectorAll(".btn-reject");

        acceptButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const jr_id = button.getAttribute("data-id");
            window.location.href = `<%= baseUrl %>/manager/join-request/${jr_id}`;
          });
        });

        rejectButtons.forEach((button) => {
          button.addEventListener("click", function () {
            let email = button.getAttribute("data-email");
            email = DOMPurify.sanitize(email);
            fetch(`<%= baseUrl %>/api/manager/delete/join_request`, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                "X-CSRF-Token": "<%= csrfToken %>",
              },
              body: JSON.stringify({ email: email }),
              credentials: "include",
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.success) {
                  alert("Request rejected for: " + email);
                  const row = button.parentElement.parentElement;
                  row.remove();
                } else {
                  alert("Failed to reject request: " + data.message);
                }
              })
              .catch((error) => {
                alert("Error: " + error.message);
              });
          });
        });
      });

      function displayNoCompanyMessage() {
        const messageContainer = document.getElementById("messageContainer");
        const message = document.createElement("div");
        message.className = "no-company-message";
        message.innerHTML = `
          <p>You haven't defined your company. Please do that here: <a href="<%= baseUrl %>/manager/company/create">Create Company</a>.</p>
        `;
        messageContainer.appendChild(message);
      }
    </script>
  </body>
</html>
