<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/settings/styles.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/common/left-dashboard-nav.css" />
    <link rel="stylesheet" href="/css/manager/settings/styles.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.7/purify.min.js"
      integrity="sha512-BdRNuI8/lsyxkKQVxK1lVtfZshggfXPAwEP+JAOJEKx6Y8SLfcBSRdaWyXQmMxo+wG180uFqXYGjGRL0mh4/Jw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      nonce="<%= nonce %>"
    ></script>
    <title>Ustawienia konta</title>
  </head>
  <body>
    <%- include("../includes/header", { baseUrl, loggedUser , accountType}) %>
    <main>
      <%- include("../includes/left-dashboard-nav", {baseUrl, accountType,
      jrequestsPending}) %>
      <section class="content">
        <div id="notification-bar" class="notification hidden"></div>
        <h2>Security settings</h2>
        <div class="setting-option">
          <p>Two-factor Authentication (2FA)-</p>
          <label class="switch">
            <input type="checkbox" id="2fa-toggle" <%= is2faEnabled ? 'checked'
            : '' %> />
            <span class="slider round"></span>
          </label>
        </div>

        <div id="loading-modal" class="modal">
          <div class="modal-content">
            <h2>Enabling two-factor authentication...</h2>
            <p>Please wait...</p>

            <div class="loader"></div>
          </div>
        </div>

        <div id="qr-modal" class="modal hidden">
          <div class="modal-content">
            <h2>Configure two-factor authentication</h2>
            <p>Scan QR in authentication app.</p>
            <img id="qr-code" src="" alt="QR Code do konfiguracji 2FA" />
            <button id="close-qr-modal">Close</button>
          </div>
        </div>

        <section class="user-details-section">
          <% if (error) { %>
          <p style="color: #cb4b42">Unable to update provided personal data</p>
          <% } %>
          <h2>Your personal data</h2>

          <div id="display-mode">
            <p><span class="label">Name:</span> <%= user.name %></p>
            <p><span class="label">Last Name:</span> <%= user.last_name %></p>
            <p><span class="label">Email:</span> <%= user.email %></p>
            <p>
              <span class="label">Phone number:</span> <%= user.phone_number %>
            </p>
            <p>
              <span class="label">Home address:</span> <%= user.home_address %>
            </p>
            <p>
              <span class="label">Date of birth:</span> <%= user.date_of_birth
              %>
            </p>
          </div>

          <form
            id="edit-mode"
            class="no-display"
            method="post"
            action="<%= baseUrl %>/user/update-personal-data"
          >
            <input
              type="hidden"
              name="csrf_token"
              value="<%=csrfToken%>"
              hidden
            />
            <label for="name">Name:</label>
            <input
              name="name"
              type="text"
              id="first-name"
              value="<%= user.name %>"
            />

            <label for="last_name">Last name:</label>
            <input
              name="last_name"
              type="text"
              id="last-name"
              value="<%= user.last_name %>"
            />

            <label for="email">Email:</label>
            <input
              name="email"
              type="email"
              id="email"
              value="<%= user.email %>"
            />

            <label for="phone_number">Phone number:</label>
            <input
              name="phone_number"
              type="tel"
              id="phone"
              value="<%= user.phone_number %>"
            />

            <label for="home_address">Home address:</label>
            <input
              name="home_address"
              type="text"
              id="address"
              value="<%= user.home_address %>"
            />

            <label for="date_of_birth">Date of birth:</label>
            <input
              name="date_of_birth"
              type="date"
              id="dob"
              value="<%= user.date_of_birth %>"
            />
            <button type="submit" class="save-button" id="save-button">
              Save
            </button>
          </form>

          <!-- Buttons -->
          <button class="edit-button" id="edit-button">Edit</button>
          <button class="cancel-button" id="cancel-button">Cancel</button>
        </section>
        <br />
        <% if (company) {%>
        <section class="user-details-section">
          <h2>Company Settings</h2>

          <div id="display-mode-company">
            <p><span class="label">Name:</span> <%= company.name %></p>
            <p>
              <span class="label">Daily hours:</span> <%= company.hours_per_day
              %>
            </p>
            <p>
              <span class="label">Max marked days in one month: </span> <%=
              company.max_days_per_month %>
            </p>
            <p>
              <span class="label">Sick leave percent rate:</span> <%=
              company.sick_leave_percent_factor%> %
            </p>
            <p>
              <span class="label">Vacation leave percent rate:</span> <%=
              company.vacation_percent_factor %> %
            </p>
            <p>
              <span class="label">On demand leave percent facor</span> <%=
              company.on_demand_percent_factor %> %
            </p>
            <p>
              <span class="label">Retirement rate:</span> <%=
              company.retirement_rate %> %
            </p>
            <p>
              <span class="label">Disability rate:</span> <%=
              company.disability_rate%> %
            </p>
            <p>
              <span class="label">Healthcare rate:</span> <%=
              company.healthcare_rate %> %
            </p>
            <p>
              <span class="label">Income tax rate:</span> <%=
              company.income_tax_rate %> %
            </p>
          </div>

          <form
            id="edit-mode-company"
            class="no-display"
            method="post"
            action="<%= baseUrl %>/manager/settings/update-company-settings"
          >
            <input
              type="hidden"
              name="csrf_token"
              value="<%=csrfToken%>"
              hidden
            />
            <label for="name">Name:</label>
            <input
              name="name"
              type="text"
              id="company-name"
              value="<%= company.name %>"
            />

            <label for="hours_per_day">Daily hours:</label>
            <input
              name="hours_per_day"
              type="number"
              id="hours-per-day"
              value="<%= company.hours_per_day %>"
            />

            <label for="max_days_per_month"
              >Max marked days in one month:</label
            >
            <input
              name="max_days_per_month"
              type="number"
              id="max-days-per-month"
              value="<%= company.max_days_per_month %>"
            />

            <label for="sick_leave_percent_factor"
              >Sick leave percent rate (%):</label
            >
            <input
              name="sick_leave_percent_factor"
              type="number"
              id="sick-leave-percent"
              value="<%= company.sick_leave_percent_factor %>"
              min="0"
              max="100"
            />

            <label for="vacation_percent_factor"
              >Vacation leave percent rate (%):</label
            >
            <input
              name="vacation_percent_factor"
              type="number"
              id="vacation-leave-percent"
              value="<%= company.vacation_percent_factor %>"
              min="0"
              max="100"
            />

            <label for="on_demand_percent_factor"
              >On demand leave percent factor (%)</label
            >
            <input
              name="on_demand_percent_factor"
              type="number"
              id="on-demand-leave-percent"
              value="<%= company.on_demand_percent_factor %>"
              min="0"
              max="100"
            />

            <label for="retirement_rate">Retirement rate (%):</label>
            <input
              name="retirement_rate"
              type="number"
              id="retirement-rate"
              value="<%= company.retirement_rate %>"
              min="0"
              max="100"
            />

            <label for="disability_rate">Disability rate (%):</label>
            <input
              name="disability_rate"
              type="number"
              id="disability-rate"
              value="<%= company.disability_rate %>"
              min="0"
              max="100"
            />

            <label for="healthcare_rate">Healthcare rate (%):</label>
            <input
              name="healthcare_rate"
              type="number"
              id="healthcare-rate"
              value="<%= company.healthcare_rate %>"
              min="0"
              max="100"
            />

            <label for="income_tax_rate">Income tax rate (%):</label>
            <input
              name="income_tax_rate"
              type="number"
              id="income-tax-rate"
              value="<%= company.income_tax_rate %>"
              min="0"
              max="100"
            />

            <button type="submit" class="save-button" id="save-button-company">
              Save
            </button>
          </form>

          <button class="edit-button" id="edit-button-company">Edit</button>
          <button class="cancel-button" id="cancel-button-company">
            Cancel
          </button>
        </section>
        <% } else {%>
        <section class="user-details-section">
          <h1>You haven't defined your company yet!</h1>
          <label>Follow the link to create one: </label>
          <a
            class="company-create"
            href="<%= baseUrl %>/manager/company/create"
          >
            Create company</a
          >
        </section>
        <% } %>
      </section>
    </main>
    <footer>
      <p>© 2024 PayrollPro. All rights reserved.</p>
    </footer>
  </body>

  <%- include("../includes/manager_left_dashboard_listener", {nonce}) %>

  <script nonce="<%= nonce %>">
    document.addEventListener("DOMContentLoaded", function () {
      const paragraphs = document.querySelectorAll("#display-mode-company p");

      paragraphs.forEach((paragraph) => {
        const label = paragraph.querySelector(".label");
        const valueNode = label.nextSibling;

        const valueText = valueNode.textContent.trim();
        const sanitizedValue = DOMPurify.sanitize(valueText);
        valueNode.textContent = ` ${sanitizedValue}`;
      });
    });
  </script>

  <script nonce="<%= nonce %>">
    document.addEventListener("DOMContentLoaded", function () {
      const inputs = document.querySelectorAll(
        "#edit-mode-company input[type='text'], #edit-mode-company input[type='number']"
      );

      inputs.forEach((input) => {
        input.value = DOMPurify.sanitize(input.value);
      });
    });
  </script>

  <script nonce="<%= nonce %>">
    document.addEventListener("DOMContentLoaded", function () {
      const displayMode = document.getElementById("display-mode");
      const paragraphs = displayMode.querySelectorAll("p");

      paragraphs.forEach((paragraph) => {
        const label = paragraph.querySelector(".label");
        const valueNode = label.nextSibling;

        const valueText = valueNode.textContent.trim();
        const sanitizedValue = DOMPurify.sanitize(valueText);
        valueNode.textContent = ` ${sanitizedValue}`;
      });
    });
  </script>

  <script nonce="<%= nonce %>">
    document.addEventListener("DOMContentLoaded", function () {
      const editMode = document.getElementById("edit-mode");
      const inputs = editMode.querySelectorAll(
        "input[type='text'], input[type='email'], input[type='tel'], input[type='date']"
      );

      inputs.forEach((input) => {
        input.value = DOMPurify.sanitize(input.value);
      });
    });
  </script>

  <script nonce="<%= nonce %>">
    document
      .getElementById("edit-mode")
      .addEventListener("submit", function (event) {
        const inputs = this.querySelectorAll(
          "input[type='text'], input[type='email'], input[type='tel'], input[type='date']"
        );

        inputs.forEach((input) => {
          input.value = DOMPurify.sanitize(input.value);
        });
      });
  </script>

  <script nonce="<%= nonce %>">
    const editButton = document.getElementById("edit-button");
    const saveButton = document.getElementById("save-button");
    const cancelButton = document.getElementById("cancel-button");

    const displayMode = document.getElementById("display-mode");
    const editMode = document.getElementById("edit-mode");

    editButton.addEventListener("click", () => {
      displayMode.style.display = "none";
      editMode.style.display = "block";

      editButton.style.display = "none";
      saveButton.style.display = "inline-block";
      cancelButton.style.display = "inline-block";
    });

    cancelButton.addEventListener("click", () => {
      displayMode.style.display = "block";
      editMode.style.display = "none";

      editButton.style.display = "inline-block";
      saveButton.style.display = "none";
      cancelButton.style.display = "none";
    });

    <% if (company) { %>
    const editButtonCompany = document.getElementById("edit-button-company");
    const saveButtonCompany = document.getElementById("save-button-company");
    const cancelButtonCompany = document.getElementById(
      "cancel-button-company"
    );

    const displayModeCompany = document.getElementById("display-mode-company");
    const editModeCompany = document.getElementById("edit-mode-company");

    editButtonCompany.addEventListener("click", () => {
      displayModeCompany.style.display = "none";
      editModeCompany.style.display = "block";

      editButtonCompany.style.display = "none";
      saveButtonCompany.style.display = "inline-block";
      cancelButtonCompany.style.display = "inline-block";
    });

    cancelButtonCompany.addEventListener("click", () => {
      displayModeCompany.style.display = "block";
      editModeCompany.style.display = "none";

      editButtonCompany.style.display = "inline-block";
      saveButtonCompany.style.display = "none";
      cancelButtonCompany.style.display = "none";
    });

    <%}%>

    function showNotification(message, isSuccess) {
      const notificationBar = document.getElementById("notification-bar");
      notificationBar.textContent = message;
      notificationBar.className = `notification ${
        isSuccess ? "success" : "error"
      }`;
      notificationBar.classList.remove("hidden");

      setTimeout(() => {
        notificationBar.classList.add("hidden");
      }, 3000);
    }

    function init2FA() {
      document.getElementById("loading-modal").style.display = "block";

      document.getElementById("2fa-toggle").disabled = true;

      fetch("<% baseUrl %>/api/auth/enable-2fa", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": "<%= csrfToken %>",
        },
        credentials: "include",
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("loading-modal").style.display = "none";

          document.getElementById("2fa-toggle").disabled = false;

          if (data.success) {
            document.getElementById("qr-code").src = data.qrCode;
            document.getElementById("qr-modal").style.display = "block";
            showNotification("2FA has been enabled.", true);
          } else {
            document.getElementById("2fa-toggle").checked = true;
            showNotification("Error enabling 2fa: ", false);
          }
        })
        .catch((error) => {
          document.getElementById("loading-modal").style.display = "none";

          document.getElementById("2fa-toggle").disabled = false;

          document.getElementById("2fa-toggle").checked = false;
          showNotification(
            "Enabling 2fa failed. Please try again later.",
            false
          );
        });
    }

    function disable2FA() {
      const confirmDisable = confirm("Are you sure you want to disable 2FA?");
      if (!confirmDisable) {
        document.getElementById("2fa-toggle").checked = true;
        return;
      }

      document.getElementById("loading-modal").classList.remove("hidden");
      document.getElementById("2fa-toggle").disabled = true;

      fetch("<% baseUrl %>/api/auth/disable-2fa", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": "<%= csrfToken %>",
        },
        credentials: "include",
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("loading-modal").style.display.none;
          document.getElementById("2fa-toggle").disabled = false;

          if (data.success) {
            document.getElementById("2fa-toggle").checked = false;
            showNotification("2FA has been disabled.", true);
          } else {
            document.getElementById("2fa-toggle").checked = true;
            showNotification("Error disabling 2fa. ", false);
          }
        })
        .catch((error) => {
          document.getElementById("loading-modal").style.display.none;
          document.getElementById("2fa-toggle").disabled = false;
          showNotification(
            "Disabling 2fa failed. Please try again later.",
            false
          );
        });
    }

    document
      .getElementById("close-qr-modal")
      .addEventListener("click", function () {
        document.getElementById("qr-modal").style.display = "none";
      });

    document
      .getElementById("2fa-toggle")
      .addEventListener("change", function () {
        if (this.checked) {
          init2FA();
        } else {
          disable2FA();
        }
      });
  </script>
</html>
